<div class="container-fluid">
  <div id="links" class="row px-2">
    <div class="col-sm-6">
      <div id="nav" class="d-flex justify-content-center justify-content-sm-start">
        <a class="p-2" href="/">Home</a>
        <a class="p-2" href="#">Projects</a>
        <a class="p-2" href="/contact">Contact</a>
        <a class="p-2" href="https://raw.githubusercontent.com/aarya-bhatia/resume/main/main.pdf">Resume</a>
      </div>
    </div>

    <div class="col-sm-6">
      <div id="social" class="d-flex justify-content-center justify-content-sm-end">
        <a class="p-2" href="https://www.instagram.com/aarya.bhatia/"><i title="instagram" class="bi bi-instagram"></i></a>
        <a class="p-2" href="https://www.linkedin.com/in/aarya-bhatia/"><i title="linkedin" class="bi bi-linkedin"></i></a>
        <a class="p-2" href="https://www.github.com/aarya-bhatia/"><i title="github" class="bi bi-github"></i></a>
        <a class="p-2" href="mailto:aarya.bhatia1678@gmail.com"><i title="email" class="bi bi-envelope"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- bootstrap js -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
