<%- include("header") %>

<div class="container-fluid">
  <h1 class="p-2">Aarya Bhatia</h1>
  <hr />
  <div id="main" class="row">
    <div class="col-sm-4">
      <img src="/photo.png" class="img-fluid" alt="" />
    </div>
    <div class="col-sm-8">
      <h4 class="my-2">Introduction</h4>

      <p>I am a student pursuing a Bachelor's degree in Applied Mathematics
      and Computer Science from the University of Illinois, at
      Urbana-Champaign. I grew up in India and came to the US in 2020 for
      studies. I will graduate in May 2024 and work full-time as a software
      developer.</p>

      <h4 class="my-2">Skills</h4>

      <p>I am experienced in full-stack web development and systems
      programming. I am proficient in Linux and C/C++, Python, Javascript
      and SQL languages. I have worked with several web frameworks like
      Node.js, Flask.py and Rails. I love problem-solving and being the
      most efficient version of myself. My workflow uses neovim, tmux and
      i3 on Arch linux.</p>

      <h4 class="my-2">Work Experience</h4>

      <p>I have done internships at multiple companies and startups. I
      initially worked as a web developer at Aspire where I built a custom
      Node website for an online assessment form. I also worked in a DevOps
      role at an AI startup where I built a Grafana dashboard for
      monitoring server health. I most recently worked at Amazon, where I
      worked in the Goodreads team in San Francisco. Presently, I am a
      course assistant at my university for CS340, where we teach about
      computer systems and C programming.</p>

      <h4 class="my-2">Hobbies</h4>

      <p>I am a trained musician with my primary instrument being the
      electric guitar. I have been playing guitar for over a decade. For
      fun, I enjoy playing sports like badminton and hiking.</p>

      <!-- <ul> -->
      <!--   <li><a href="/public.gpg" download>PGP public key</a></li> -->
      <!-- </ul> -->
    </div>
    <hr />
  </div>
</div>

<%- include("footer"); %>

